.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

button {
  display: inline-block;
  border: none;
  /* padding: 1rem 2rem; */
  margin: 0;
  text-decoration: none;
  background: transparent;
  color:inherit;
  font-family: sans-serif;
  /* font-size: 1rem;
  line-height: 1; */
  cursor: pointer;
  text-align: center;
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  color: white;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1{ 
  font-size: 2em;
}

h2{ 
  font-size: 1.2em;
}

h3{ 
  font-size: .6em;
}

.nav-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100vw;
}

.nav-link a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.nav-link:hover:not(.active){
  background-color: #111;
  cursor: pointer;
}

.nav-active a{
  background-color: #4caf50;
  font-weight: bold;
  
}


.event-container{
  width: 600px;
  height: 150px;
  color: white;
  align-content: center;
  min-height: 150px;
}


.event-timeslot-container {
  border: 1px solid;
  position: relative;
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
}

.event-box{
  position: relative;
  border-radius: 10px;
  background-color: black;
  margin-top: 10px;
}

.app-slot{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
  height: 25px;
}

.event-available{ 
  color: lightgreen;
  font-size: 1em;
}

.event-booked{ 
  border-color: white;
  font-size: 1em;
}

.event-info-line{
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.event-info-line > *{
  width: 200px;
}

.event-info-line>h2, .event-info-line>h3{
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.event-timeslot {
  font-size: .6em;
}
.event-tools{
  cursor: pointer;
}

.event-remove-event{
  font-size: .87em;
  position: absolute;
  top: 3px;
  right: 6px;
}
.event-remove-event:hover,
.event-remove-event:focus  {
  color: red;
}
.event-edit-event{
  font-size: 1.1em;
  position: absolute;
  top: 3px;
  right: 30px;
  /* color: red; */
}
.event-edit-event:hover,
.event-edit-event:focus  {
  color: yellow;
}

.event-add-client{
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: .65em;
}

.event-add-client:hover,
.event-add-client:focus  {
  color: #00db07;
}

.event-remove-client{
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: .6em;
}

.event-remove-client:hover,
.event-remove-client:focus  {
  color: red;
}

.event-edit-client{
  position: absolute;
  bottom: 3px;
  right: 0px;
}

.event-edit-client:hover,
.event-edit-client:focus  {
  color: yellow;
}

.event-edit-client img{
  color: white;
}

.green-border {
  border-color: lightgreen;
}

.pointer {
  cursor: pointer;
}

.input-row{
 justify-content: space-between; 
 margin-left: 15px;
 margin-right: 15px;
}

.input-row>input{
  width: 150px;
}

.input-row h3{
  display: inline-block;
  width: 100px;
  font-size: 1.1em;
}

.input-row button{
  width: 35;
  border: 1px solid white;
  margin: 10px;
}

.input-row button:hover{
  width: 35;
  border: 1px solid white;
  background-color: darkcyan;
  margin: 10px;
}

.FormNewEvent{
  padding-top: 10px;
}