.App {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1{ 
  font-size: 2em;
}

h2{ 
  font-size: 1.2em;
}

h3{ 
  font-size: .6em;
}

.nav-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100vw;
}

.nav-link a {
  float: left;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
}

.nav-link:hover:not(.active){
  background-color: #111;
  cursor: pointer;
}

.nav-active a{
  background-color: #4caf50;
  font-weight: bold;
  
}

.link-active{

}




.event-container{
  width: 600px;
  height: 100px;
  color: white;
  align-content: center;
}


.event-timeslot-container {
  border: 1px solid;
  position: relative;
  /* padding-bottom: 10px; */
  margin-bottom: 10px;
}

.event-box{
  border-radius: 10px;
  background-color: black;
  margin-top: 10px;
}

.app-slot{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 140px;
  height: 25px;
  align-items: center;
  vertical-align: center;
}

.event-available{ 
  color: lightgreen;
  font-size: 1em;
}

.event-booked{ 
  border-color: white;
  font-size: 1em;
}

.event-info-line{
  justify-content: space-between;
  margin-bottom: 20px;
}

.event-info-line > *{
  width: 200px;
}

.event-info-line>h2, .event-info-line>h3{
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.event-timeslot {
  font-size: .6em;
}

.event-remove-client{
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: .6em;
  cursor: pointer;
}

.green-border {
  border-color: lightgreen;
}